{% extends "base.html" %}

{% block title %}Authorization{% endblock %}

{% block content %}
    Register:
    <form action="{% url 'auth' %}" method="post">
        {% csrf_token %}
        {{ form.register }}
        <input type="submit" name="form" value="Register">
    </form>
    <hr>

    Login:
    <form action="{% url 'auth' %}" method="post">
        {% csrf_token %}
        {{ form.login }}
        <input type="submit" name="form" value="Login">
    </form>
{% endblock %}