{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Postal{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
{% if request.user.is_authenticated %}
    {% include 'header.html' %}
{% endif %}
{% block content %}{% endblock %}

<script type="application/javascript" src="{% static "js/lib/jquery-3.2.1.min.js" %}"></script>
{% block js_scripts %}{% endblock %}
</body>
</html>