{% extends 'base.html' %}
{% load static %}

{% block title %}Create Postcard{% endblock %}

{% block styles %}
    <style rel="prefetch">
        {% for font in fonts %}
            @font-face{
                font-family: {{ font.title }};
                src: url({{ font.file.url }});
            }
        {% endfor %}
    </style>
{% endblock %}

{% block content %}
    <div style="opacity: 0;">
        {% for font in fonts %}
            <span style="font-family: {{ font.title }}">preload this</span>
        {% endfor %}
    </div>
    <div id="form_template" class="form" style="display: none;">
        <div class="preview">
            <div class="draggable" style="display: inline-block;"></div>
            <img src="{% static "images/preview.png" %}">
        </div>
        {{ formset.empty_form }}
    </div>

    <form action="{% url "create" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form">
                <div class="preview">
                    <div class="draggable" style="display: inline-block;"></div>
                    <img src="{% static "images/preview.png" %}">
                </div>
                {{ form }}
            </div>
        {% endfor %}
        <input type="button" class="add_form" value="More Postcards">
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block js_scripts %}
    <script type="application/javascript" src="{% static "js/lib/interact.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/add_form.js" %}"></script>
    <script>
        $(window).on('load', function() {
            function dragMoveListener (event) {
                var target = event.target,
                    // keep the dragged position in the data-x/data-y attributes
                    x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                    y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

                // translate the element
                target.style.webkitTransform =
                    target.style.transform =
                        'translate(' + x + 'px, ' + y + 'px)';

                // update the posiion attributes
                target.setAttribute('data-x', x);
                target.setAttribute('data-y', y);
            }

            // this is used later in the resizing and gesture demos
            window.dragMoveListener = dragMoveListener;

            interact('.draggable')
                .draggable({
                    onmove: window.dragMoveListener,
                    restrict: {
                        restriction: 'parent',
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                    }
                })
                .on('dragend', function(e) {
                    // Updating position input values
                    var parent = $(e.target).closest('.form'),
                        posX = parent.find('.posX'),
                        posY = parent.find('.posY'),
                        dx = e.clientX - e.clientX0,
                        dy = e.clientY - e.clientY0;

                    posX.val(Number(posX.val()) + dx);
                    posY.val(Number(posY.val()) + dy);
                });

            function updateText() {
                // Updating text draggable object
                var parent = $(this).parent().closest('div'),
                    preview = parent.find('.preview'),
                    textarea = parent.find('textarea'),
                    text = preview.find('.draggable'),
                    font = parent.find('select').find('option:selected').text(),
                    size = parent.find('input[type="number"]').val() || 12;

                text.css({'font-family': font, 'font-size': size + 'px'}).text(textarea.val());
            }

            function loadImage(preview, image, content) {
                // Replace image tag with css background for layout and dragging purposes
                image.attr({'src': content});
                preview.css({'backgroundImage': 'url(' + content + ')'});
                preview.height(image.height());
                preview.width(image.width());
                image.remove();

                // Subscribing to input changes for draggable text updates
                preview.siblings('textarea').on('change', updateText);
                preview.siblings('select').on('change', updateText);
                preview.siblings('input[type="number"]').on('change', updateText)
            }

            $('input[type="file"]').on('change', function() {
                // Subscribing to image input change for loadImage
                var preview = $(this).siblings('.preview'),
                    image = preview.find('img');

                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        loadImage(preview, image, e.target.result);
                    };

                    reader.readAsDataURL(this.files[0]);
                }
            });


        })
    </script>
{% endblock %}