{% extends 'base.html' %}

{% block title %}Send Postcard{% endblock %}

{% block content %}
    <div>
        <img src="{{ object.card.url }}">
    </div>
    <div>
        <form action="{% url 'detail' card_id=object.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}