{% extends 'base.html' %}

{% block content %}
    {% for card in object_list %}
        <div>
            <h4>Author:
                {% if card.author == request.user %}
                    <span style="color: darkblue;">It's you!</span>
                {% else %}
                    <span>{{ card.author.username }}</span>
                {% endif %}
            </h4>
            <a href="{% url 'detail' card_id=card.id %}">Send this postcard</a>
            <div>
                <img src="{{ card.card.url }}">
            </div>
        </div>
    {% endfor %}
{% endblock %}